<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Doors.Properties.Settings.dbDoorsConnectionString"
            connectionString="Data Source=109.196.236.83,1433;Initial Catalog=dbDoors;Persist Security Info=True;User ID=admin1;Password=admin1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Doors.Properties.Settings>
            <setting name="zalogowanyjako" serializeAs="String">
                <value />
            </setting>
            <setting name="idsklepu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idprod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emailAdres" serializeAs="String">
                <value />
            </setting>
            <setting name="emailHaslo" serializeAs="String">
                <value />
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value />
            </setting>
        </Doors.Properties.Settings>
    </userSettings>
</configuration>